#Installation {
    display: grid;
    gap: var(--gap);
}

#Installation .carbon {
    background-color: var(--color-accent);
    padding-top: calc(var(--gap) * 2);
    padding-bottom: calc(var(--gap) * 2);
    color: var(--color-bright-900);
    display: flex;
    justify-content: space-between;
    height: min-content;
}

#Installation .cards {
    display: grid;
    gap: var(--gap);
}

@media screen and (min-width: 64rem) {
    #Installation {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}