#Languages {
    text-align: center;
}

#Languages .platforms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap);
}

#Languages .platforms .card {
    flex-basis: 10rem;
}

#Languages .platforms img {
    max-height: 5rem;
}