footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-bright-900);
    padding-bottom: 2rem;
}

footer .socials {
    display: flex;
    gap: var(--gap);
}

footer .socials svg {
    height: calc(var(--gap) * 2);
}

.footer-background {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -1
}

.footer-background svg {
    fill: var(--color-primary);
    margin-bottom: -1rem;
}

.footer-background .spacing {
    height: 25vh;
    background: var(--color-primary);
}