#Experience {
    .experiences {
        padding-left: calc(var(--gap) * 1.5);
        article {
            position: relative;
            
            h3 {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    left: calc(var(--gap) * -1.5);
                    top: calc(var(--gap) * 0.25);
                    height: var(--gap);
                    width: var(--gap);
                    background-color: var(--color-primary);
                    border-radius: 50%;
                }
            }

            &::before {
                content: "";
                position: absolute;
                top: calc(var(--gap) * 0.25);
                left: calc(var(--gap) * -1.15);
                height: calc(100% + var(--gap) * 2);
                width: calc(var(--gap) * 0.25);
                background-color: var(--color-accent);
            }

            &:last-child::before {
                display: none;
            }
        }
    }
}