#Landing {
    display: grid;
    gap: calc(var(--gap) * 2);
    align-items: center;
}

#Landing > .description {
    text-align: center;
    text-wrap: balance;
}

#Landing > .description > h1 {
    color: var(--color-bright-900);
}

#Landing > .description > p {
    color: var(--color-bright-600);
    font-weight: lighter;
}

#Landing .form {
    height: min-content;
    width: 75%;
    margin: 0 auto;
}

#Landing .form form {
    display: grid;
    gap: calc(var(--gap) * 1.5);
}

#Landing .form form button {
    width: min-content;
}

@media screen and (min-width: 48rem) {
    #Landing {
        grid-template-columns: repeat(2, 1fr);
    }

    #Landing .description {
        text-align: left;
    }

    #Landing .form {
        width: 100%;
    }
}