<section id="Landing">
    <div class="container">
        <div>
            <img src="/avatar.png" alt="Hero Image">
        </div>
        <div>
            <h1>
                <span>Ritam</span>
                <br>
                <span>Chakraborty</span>
            </h1>
            <p>The Software Engineer who can take your ideas into next level</p>
            <button>Download Resume</button>
        </div>
    </div>
</section>