<section id="Landing">
    <div class="container | flow">
        <div class="hero-image">
            <img src="/avatar.png" alt="Hero Image">
        </div>
        <div class="hero-content | flow">
            <h1>
                <span>Ritam</span>
                <br>
                <span>Chakraborty</span>
            </h1>
            <p>The Software Engineer who can take your ideas into next level</p>
            <button>Download Resume</button>
        </div>
    </div>
</section>
<style lang="scss">
    #Landing {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>