<section id="Project" class="has-header">
    <div class="container flow">
        <div class="project-grid">
            <div class="project-1">
                <a href="https://github.com/RitamChakraborty/corona_tracker" target="_blank">
                    <img src="/project-1.png" alt="Project 1">
                </a>
            </div>
            <div>
                <a href="https://github.com/RitamChakraborty/cssbudddyz" target="_blank">
                    <img src="/project-2.png" alt="Project 2">
                </a>
            </div>
            <div>
                <a href="https://github.com/RitamChakraborty/pension-management" target="_blank">
                    <img src="/project-3.png" alt="Project 3">
                </a>
            </div>
            <div>
                <a href="https://github.com/RitamChakraborty/my-hobbies" target="_blank">
                    <img src="/project-4.png" alt="Project 4">
                </a>
            </div>
            <div>
                <a href="https://github.com/RitamChakraborty/n_queen_visualization" target="_blank">
                    <img src="/project-5.png" alt="Project 5">
                </a>
            </div>
        </div>
        <div>
            <p class="align-center github-link">
                For more project visit my 
                <a href="http://github.com/RitamChakraborty" target="_blank" class="link">
                    GitHub Profile
                </a>
            </p>
        </div>
    </div>
</section>

<style lang="scss">
    .project-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: calc(var(--unit) * 0.5);

        div {
            overflow: hidden;
            filter: grayscale(1);
            border-radius: var(--unit);
            width: 100%;
            transition: 200ms filter;

            &.project-1 {
                aspect-ratio: 9 / 10.35;
            }

            &:not(.project-1) {
                aspect-ratio: 16 / 9;
            }

            &:hover {
                filter: grayscale(0);
                outline: 2px solid var(--clr-accent-2);
                outline-offset: 2px;
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .project-1 {
            grid-row: span 2;
        }
    }

    .github-link {
        margin-bottom: var(--unit);
    }

    @media screen and (min-width: 45rem) {
        .project-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (min-width: 60rem) {
        #Project {
            align-items: center;
        }

        .project-grid {
            grid-template-columns: repeat(3, 1fr);
        }
    }
</style>