---
const programmingLanguages = [
    'Java',
    'JavaScript',
    'TypeScript',
    'Dart',
    'Bash'
];
const frameWorks = [
    'Spring Boot',
    'Angular',
    'React',
    'Solid',
    'Astro',
    'Deno',
    'Flutter'
];
const databases = [
    'MySQL',
    'PostgreSQL'
];
const tools = [
    'Git',
    'GitHub',
    'Docker',
    'Linux',
    'Figma',
    'Framer'
];
---

<section id="Skill" class="has-header center">
    <div class="container flow">
        <div>        
            <h3>Programming Languages</h3>
            <div class="flow-hoirizontal">
                {programmingLanguages.map(i => <p>{i}</p>)}
            </div>
        </div>
        <div>        
            <h3>Frameworks</h3>
            <div class="flow-hoirizontal">
                {frameWorks.map(i => <p>{i}</p>)}
            </div>
        </div>
        <div>
            <h3>Databases</h3>
            <div class="flow-hoirizontal">
                {databases.map(i => <p>{i}</p>)}
            </div>
        </div>
        <div>
            <h3>Tools</h3>
            <div class="flow-hoirizontal">
                {tools.map(i => <p>{i}</p>)}
            </div>
        </div>
</section>

<style lang="scss">
    h3 {
        text-align: center;
    }

    .flow-hoirizontal {
        justify-content: center;
    }
</style>