<section id="Social" class="has-header center">
    <div class="container flow grid">
        <div class="flow">
            <div>
                <h3>How to talk to me</h3>
                <p>
                    <a href="https://www.linkedin.com/in/ritamchakraborty/" target="_blank">
                        LinkedIn@ritamchakraborty
                    </a>
                </p>
            </div>
            <div>
                <h3>How to mail me</h3>
                <p>
                    <a href="mailto:postbox.ritamchakraborty@gmail.com">
                        postbox.ritamchakraborty@gmail.com
                    </a>
                </p>
            </div>
            <div>
                <h3>How to call me</h3>
                <p>
                    <a href="tel:8945008966">
                        8945008966
                    </a>
                </p>
            </div>
        </div>
        <div class="flow">
            <div>
                <h3>Coding Profiles</h3>
                <p>
                    <a href="https://leetcode.com/RitamChakraborty/" target="_blank">
                        ➤ LeetCode
                    </a>
                </p>
                <p>
                    <a href="https://auth.geeksforgeeks.org/user/ritamchakraborty/" target="_blank">
                        ➤ GeeksForGeeks
                    </a>
                </p>
                <p>
                    <a href="https://www.hackerrank.com/RitamChakraborty/" target="_blank">
                        ➤ HackerRank
                    </a>
                </p>
            </div>
            <div>
                <h3>Others</h3>
                <p>
                    <a href="https://codepen.io/RitamChakraborty/" target="_blank">
                        ➤ CodePen
                    </a>
                </p>
                <p>
                    <a href="https://cssbattle.dev/player/ritam/" target="_blank">
                        ➤ CSSBattle
                    </a>
                </p>
            </div>
        </div>
    </div>
</sections>