:root {
    --clr-primary: #F6F6F6;
    --clr-secondary: #333333;
    --clr-accent: #FFD6D6;
    --clr-accent-2: #C9C9C9;
    --unit: 1rem;
    --small-breakpoint: 30rem;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: var(--clr-primary);
}

section {
    height: 100vh;
    height: 100svh;
    padding: calc(var(--unit) * 2) var(--unit);
}

.container {
    max-width: var(--small-breakpoint);
    margin-inline: auto;
}