:root {
    --clr-primary: #F6F6F6;
    --clr-secondary: #333333;
    --clr-secondary-2: #555555;
    --clr-accent: #C9C9C9;
    --clr-accent-2: #FFD6D6;
    --unit: 1rem;
    --small-breakpoint: 30rem;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: var(--clr-primary);
}

section {
    height: 100vh;
    height: 100svh;
    padding: calc(var(--unit) * 2) var(--unit);
}

.container {
    max-width: var(--small-breakpoint);
    margin-inline: auto;
}

h1, h2, h3 {
    color: var(--clr-secondary);
}

h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: 'Yeseva One', cursive;
    font-weight: 500;
}

p {
    font-size: 1rem;
    font-family: 'Bree Serif', serif;
    color: var(--clr-secondary-2);
}

button {
    padding: calc(var(--unit) * 0.5) var(--unit);
    border-radius: calc(var(--unit) * 0.25);
    background-color: var(--clr-accent-2);
    font-family: 'Bree Serif', serif;
    text-transform: uppercase;
    border: none;
    outline: none;
    max-width: max-content;
}

button:hover {
    opacity: 0.8;
}

.flow {
    display: flex;
    flex-direction: column;
    gap: var(--unit);
}