---
import Landing from '../sections/Landing.astro';
import AboutMe from '../sections/AboutMe.astro';
import Experience from '../sections/Experience.astro';
import Skill from '../sections/Skill.astro';
import Project from '../sections/Project.astro';
import Social from '../sections/Social.astro';
---
<main>
    <Landing />
    <AboutMe />
    <Experience />
    <Skill />
    <Project />
    <Social />
</main>