---
import Landing from '../sections/Landing.astro';
import AboutMe from '../sections/AboutMe.astro';
import Experience from '../sections/Experience.astro';
---
<main>
    <Landing />
    <AboutMe />
    <Experience />
</main>