---
import Landing from '../sections/Landing.astro';
import AboutMe from '../sections/AboutMe.astro';
import Experience from '../sections/Experience.astro';
import Skill from '../sections/Skill.astro';
---
<main>
    <Landing />
    <AboutMe />
    <Experience />
    <Skill />
</main>